.perfil-img{
    border: none;
    padding: 0px;    
}

.left-content{
    background-color: #f4f5f7;
    height: 100hv;
    box-shadow: 0px 0px 7px 0px rgb(141, 141, 141)
}

.gray-card-header{
    background-color: #d2d2d3;
}

.carousel-item{
    height: 270px; 
}

.carousel-inner .carousel-item img {
    position:relative;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #5a5a5a;
}

.carousel-ctrl{
    color: #868686;
}

.carousel-control-prev, .carousel-control-next{
    top: -20%;
}

[data-toggle="collapse"] i:before{
    content: "\f068";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f067";
}

.features{
    margin: 0px auto;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px ridge;
}